{%load  static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contractor-dash</title>
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}">
</head>
<body>
    <nav>
        <button class = "tabs active">
            <img src="" alt="">
            Notifications
        </button>
        <button class = "tabs">
            <img src="" alt="">
            Revisions
        </button>
        <button class = "tabs">
            <img src="" alt="">
            Upload Files
        </button>
        <button class = "tabs">
            <img src="" alt="">
            published files
        </button>
    </nav>
    <div class = "container"> 
        <div class="content active">
            <div class="section-heading">
                <h1>Notifications</h1> 
            </div>
            <ul>
                <li>1new notification.</li>
            </ul>
        </div>
        <div class="content">
            <div class="section-heading">
                <h1>Revisions</h1> 
            </div>
            hi
        </div>
        <div class="content">
            <div class="section-heading">
                <h1>Upload Project Files</h1> 
            </div>
            hi
        </div>
        <div class="content">
            <div class="section-heading">
                <h1>Published files</h1> 
            </div>
            hi
        </div>
    </div>
    <script src="{%static 'JS/content-render.js'%}"></script>
</body>
</html>